/* Responsivo */
@media only screen and (max-width: 1180px) {
	/* Slider */
	.ipad-fundo {
		margin-right: 0;
	}

	/* Features */
	.card {
		margin-right:15px;
		margin-left:15px;
		width:29%;
	}

	.card-icone {
		display:inline-block;
		margin-right:0;
		margin-bottom:5px;
		width:100%;
		i {
			width:100%;
		}
	}

	.card-texto {
		display:inline-block;
		text-align:center;
		width:100%;
	}

	/* Contato */
	.cont-icones {
		width:35%;
	}

	/* Footer */
	.foot-info {
		width:30%;
	}

	.foot-navmap {
		width:60%;
	}

	.foot-wrap {
		width:20%;
		margin-right:5%;
	}
}

@media only screen and (max-width: 1010px) {
	/* Slider */
	.slider-texto, .slider-ipad {
		width:50%;
	}

	.slider-titulo {
		padding-top:0;
	}

	.ipad-fundo {
		transform:scale(0.8);
		margin-top:-50px;
	}

	.bullets-wrap {
		margin: 40px 45%;
	}

	/* Features */
	.card {
		margin-right:5%;
		margin-left:5%;
		width:40%;
	}

	/* Contato */
	.cont-email {
		input {
			width:75%;
		}
	}

	.cont-submit {
		width:18%;
	}

	/* Footer */
	.footer {
		padding-top:0;
	}

	.foot-info {
		margin-bottom:50px;
		margin-right:0;
		width:100%;
		text-align:center;
	}

	.foot-navmap {
		width:80%;
		margin-bottom:80px;
		margin-left:auto;
		margin-right:auto;
	}

	.foot-wrap {
		text-align:center;
		margin-right:0;
		margin-left:5%;
	}

}

@media only screen and (max-width: 900px) {
	/* Header */
	.logo {
		width:30%;
	}

	/* Slider */
	.slider-texto {
		width: 100%;
		text-align:center;
	}

	.slider-ipad {
		display:none;
	}

	/* Features */
	.card {
		margin-right:0;
		margin-left:5%;
	}

	/* Contato */
	.cont-email {
		display:inline-block;
		width:100%;
		overflow:hidden;
		input {
			width:100%;
		}
	}

	.cont-submit {
		margin-top:15px;
		display:inline-block;
		width:100%;
	}

	.cont-icones {
		width:45%;
		a {
			margin-left:15px;
			margin-right:15px;
		}
	}
}

@media only screen and (max-width: 830px) {
	/* Header */
	.logo {
		width:35%;
	}

	.menu {
		display:inline-block;
		background: $amarelo;
		padding: 1em;
		margin: 0;
		height: 100%;
		width: 90%;
		max-width: 180px;
		position: fixed;
		z-index: 1;
		top: 0;
		right: -999%;
		transition: right 0.3s ease-out;
		li {
			a {
				margin-left:60px;
			}
		}
	}

	.menu-ativo .menu {
		right:0;
	}

	.menu-ativo:after {
		content: "";
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0,0,0,0.4);
	}

	/* Features */
	.card {
		display:inline-block;
		margin-right:0;
		margin-left:0;
		width:100%;
	}

	.card-texto {
		width:50%;
		margin-right:25%;
		margin-left:25%;
	}

	.card-corpo {
		margin-bottom:0;
	}

	.feat-texto, .cont-texto {
		width:100%;
	}

	/* Contato */
	.cont-icones {
		width:50%;
		a {
			margin-left:15px;
			margin-right:15px;
		}
	}

	/* Footer */
	.foot-wrap {
		li {
			padding-bottom:20px;
		}
	}

}

@media not all and (max-width: 830px) {
	/* Header */
	.menu-abrir {
		display: none;
	}
}

@media only screen and (max-width: 725px) {
	/* Header */
	.logo {
		width:70%;
	}

	/* Contato */
	.cont-icones {
		width:80%;
		a {
			margin-left:40px;
			margin-right:0;
		}
	}

	/* Footer */
	.foot-navmap {
		overflow:hidden;
	}

	.foot-wrap {
		width:100%;
		text-align:left;
		padding-bottom:10px;
		li {
			display:inline-block;
			padding:5px;
		}
	}
}

@media only screen and (max-width: 575px) {
	/* Slider  */
	.bullets-wrap {
		margin: 40px 40%;
	}

	/* Features */
	.card-texto {
		width:100%;
		margin-right:0;
		margin-left:0;
	}

	/* Contato */
	.cont-icones {
		width:100%;
		a {
			margin-left:30px;
		}
	}
}

@media only screen and (max-width: 410px) {
	/* Contato */
	.cont-icones {
		width:100%;
		a {
			margin-left:25px;
		}
	}
}
